source activate uq

# We need the baseline directory quite frequently
export UQ_PROJECT=$PWD

export PATH=$PATH:$UQ_PROJECT/bin

export PYTHONPATH=$UQ_PROJECT/python:$PYTHONPATH

# configurations
export MATPLOTLIBRC=$UQ_PROJECT/configurations
export JUPYTER_CONFIG_DIR=$UQ_PROJECT/configurations/jupyter
export IPYTHONDIR=$UQ_PROJECT/configurations/ipython
